ID : <%= @show_p.id %><br>
제목 : <%= @show_p.title %><br>
작성자 : <%= @show_p.editor %><br>
내용 : <%= @show_p.content %><br>
<a href = "/board/edit/<%= @show_p.id %>">[ 수정 ]</a>
<a href = "/board/delete/<%= @show_p.id %>">[ 삭제 ]</a>